/* because fonts contain the boldness, set all headers to not bold */
*{
	margin: 0px;
	padding: 0px;
	font-family: "Alegreya Sans", "Helvetica", "Arial", "sans-serif";
}
body{
	background: url("img/bg.jpg") repeat-y #e5e6db;
}
#sidebar h1{
	background : #00aeef url("img/logo.png") no-repeat center center;
	text-indent: -9999pt;
	overflow: hidden;
	width: 400px;
	height: 125px;
}
p{
	font-size: 16.75px;
}
aside#sidebar{
	float: left;
	width: 400px;
	margin-left: -100%;
}
aside#sidebar .inner{
	color: #FFF;
	margin: 25px;
}
#next-buttons .button{
	font-size: 18px;
	padding: 10px 20px;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 20px;
	display: inline-block;
}
#next-buttons{
	display: none;
	margin-bottom: 20px;
}
.button{
	background: #0195cc;
	color: #FFF;
	font-size: 12px;
	padding: 4px 8px;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	text-decoration: none;
}
.button:hover{
	background: #5ecff9;
}
form label{
	width: 120px;
	display: inline-block;
}
form input[type=text], form input[type=number], form .fieldChooser{
	border-radius: 4px;
	border: none;
	background: #605f5f;
	outline: none;
	padding: 3px 6px;
}
form .fieldChooser{
	cursor: pointer;
}
form .fieldChooser:hover{
	background: #B3B3B3;
}
form input[type=text]:focus, form input[type=number]:focus{
	background: #FFF;
}
form .row{
	margin-bottom: 15px;
}
form .row .comment{
	font-size: 11px;
	color: #d5d5d5;
}
form .row .comment .optional{
	color: #0195cc;
}
#ref{
	display: none;
}
.type-instructions h2{
	padding-left: 24px;
	font-size: 18px;
	background: url("img/collection.png") no-repeat 0px 4px;
}
.type-instructions.analysis h2{
	background: url("img/analysis.png") no-repeat 0px 4px;
}
.type-instructions.visualization h2{
	background: url("img/visualization.png") no-repeat 0px 4px;
}
.type-instructions .sub{
	cursor: pointer;
	padding-left: 15px;
	margin-left: 10px;
	background: url("img/arrow.png") no-repeat 0px 4px;
}
.type-instructions .sub .sub{
	margin-bottom: 10px;
}
.ruler, #topbar{
	border-top: 1px #4c4c4c solid;
	margin: 15px 0px;
}

.type-instructions .button{
	margin-right: 10px;
}
.type-instructions .functions .button{
	background: #21A814;
}
.type-instructions .functions .button:hover{
	background: #80FA75;
}
#topbar{
	display: none;
	position: relative;
	margin-bottom: 30px;
}
#topbar .item{
	position: absolute;
	top: -6px;
	font-size: 11px;
	color: #4c4c4c;
}
#topbar .item.active{
	color: #FFF;
}
#topbar .item.active .circle{
	background-color: #FFF;
}
#topbar .item span{
	position: relative;
	left: -37%;
}
#topbar .c{
	left: 27px;
}
#topbar .a{
	left: 160px;
}
#topbar .v{
	left: 288px;
}
#topbar .circle{
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background: #4c4c4c;
}
#settings-btn{
	display: inline-block;
	height: 22px;
	padding-left: 30px;
	font-size: 14px;
	padding-top: 8px;
	padding-right: 5px;
	background: url("img/settings.png") no-repeat 5px center #0195cc;
}
#settings-btn:hover{
	background-color: #5ecff9;
}

#refresh-btn{
	display: inline-block;
	width: 60px;
	height: 22px;
	font-size: 14px;
	padding-top: 8px;
	padding-right: 5px;
	padding-left: 20px;
	float: right;
}
#refresh-btn:hover{
	background-color: #5ecff9;
}
#workspace{
	margin-left: 400px;
}
#wrapper{
	float: left;
	width: 100%;
}
#footer{
	clear: left;
}
#workspace .results{
	max-width: 560px;
	float: left;
	border-radius: 4px;
	background: #FFF;
	margin: 10px;
}
#workspace .results .button{
	margin: 10px;
	display: inline-block;
}
#workspace .results h4{
	padding: 10px;
}
#workspace .results table{
	padding: 10px;
}
#workspace .results table td, #workspace .results table th{
	text-align: left;
	font-size: 14px;
	padding: 3px;
}
#workspace .results > .bar{
	background: #bdc3c7;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 10px;
}
#workspace #intro{
	width: 80%;
	margin-top: 5%;
	margin-left: 5%;
	background: #FFF;
	padding: 5%;
}
.button.menu{
	width: 30px;
	height: 30px;
	display: inline-block;
	padding: 0px;
	margin: 0px;
	text-indent: -9999px;
	overflow: hidden;
	background: url("img/menu.png") no-repeat center center #dce0e3;
}
.button.menu:hover{
	background-color: #FFF;
}

.mod .chosen{
	color: #0195cc;
}
.fn .chosen{
	color: #21A814;
}

#forms .function{
	display: none;
}
#topbar .item{
	cursor: pointer;
}


#loader{
	position: absolute;
	right: 20px;
	bottom: 5px;
	display: none;
}

#overlay{
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 0px;
	display: none;
	background: rgba(0,0,0,.9);
}
#overlay h2{
	position: relative;
	left: 10px;
}
#overlay table{
	margin-top: 10px;
}
#overlay .close{
	position: absolute;
	right: 20px;
	color: #0195cc;
}

#overlay tr:nth-child(even) td{
	background: rgba(100,100,100,.7);
}
#overlay td, #overlay th{
	text-align: left;
	padding: 3px;
	font-size: 12px;
}
#overlay th{
	font-size: 14px;
}
#overlay *{
	color: #FFF;
}
#overlay th.a{
	color: #F00;
}

#last-modified{
	position: fixed;
	left: 10px;
	bottom: 5px;
	color: #FFF;
	font-size: 12px;
}
.field.option:hover{
	background: #FCFFB0;
}
.field.option{
	background-color: #FAFF5E;
	padding: 2px;
	border-radius: 4px;
	cursor: pointer;
}

#feedback{
	font-size: 18px;
	padding: 5px 10px;
	margin-bottom: 5px;
	background: #999999;
	display: none;
}
#feedback.err{
	background: #ED5151
}
#feedback.suc{
	background: #4FB52A;
}
.screen.settings{
	display: none;
}
.screen.default{
	display: block;
}
#download-json{
	display: none;
}
/*
screws up visualization for some reason

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.25s;
     -moz-transition-duration: 0.25s;
      -ms-transition-duration: 0.25s;
       -o-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

*/