#!/usr/bin/python
'''
Fill in your values for oauth keys and rename this file to config.py (without .example)
'''

#!/usr/bin/python
CREDS = {
	"reddit" : {
		"client_id" : "",
		"secret": "",
		"uname": "",
		"pass": ""
	},
    "mysql" : {
        "host" : "",
        "user" : "",
        "password" : "",
        "database" : ""
    }
}