*{
    margin: 0;
    padding: 0;
    font-family: "Alegreya Sans", "Helvetica", "Arial", "sans-serif";
}
.type-instructions{
    display: none;
}
.type-instructions .button{
    display: none;
}
#vis{
    margin: 20px 0px 0px 25px;
}
svg{
}
.bar rect {
    fill: steelblue;
    shape-rendering: crispEdges;
}
.bar text {
    fill: #fff;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
div[data-vis=graph-scatterplot] .axis path, div[data-vis=graph-scatterplot] .axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}
div[data-vis=graph-scatterplot] .axis text {
    font-family: sans-serif;
    font-size: 11px;
}
div[data-vis=graph-piechart] text{
    font: 10px sans-serif;
}
div[data-vis=graph-piechart] .arc path {
    stroke: #fff;
}
aside#sidebar {
    display: block;
}
#container {
    margin-left: 400px;
}
#two {
    background: #00aeef;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 3px;
    color: #FFF;
    text-decoration: none;
}
#two:hover{
    background: #5ecff9;
}
/*need to fix this styling for button group*/
.btn-group button {
  background-color: #00aeef;
  border: none;
  color: #FFF;
  padding: 4px 8px;
  float: right;
  cursor: pointer;
  width: 50%;
  border-radius: 4px;
  display: none;
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #5ecff9;
}

#three {
    background: #00aeef;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 3px;
    color: #FFF;
    text-decoration: none;
}
#three:hover{
    background: #5ecff9;
}
