/* because fonts contain the boldness, set all headers to not bold */
*{
	margin: 0px;
	padding: 0px;
	font-family: "Alegreya Sans", "Helvetica", "Arial", "sans-serif";
}
body{
	background: url("img/bg.jpg") repeat-y #e5e6db;
}
#sidebar h1{
	background : #00aeef url("img/logo.png") no-repeat center center;
	text-indent: -9999pt;
	overflow: hidden;
	width: 400px;
	height: 125px;
}
p{
	font-size: 16.75px;
}
aside#sidebar{
	float: left;
	width: 400px;
	margin-left: -100%;
}
aside#sidebar .inner{
	color: #FFF;
	margin: 25px;
}
#next-buttons .button{
	font-size: 18px;
	padding: 10px 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	display: inline-block;
}
#next-buttons{
	display: none;
	margin-bottom: 20px;
}
.button{
	background: #0195cc;
	color: #FFF;
	font-size: 12px;
	padding: 4px 8px;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	text-decoration: none;
    margin: 3px;
}
.button.red{
	background: #F5716C;
}
.button.red:hover{
	background: #FF8A8A
}
.button:hover{
	background: #5ecff9;
}

form label{
	width: 120px;
	display: inline-block;
}
form input[type=text], form input[type=number], form .fieldChooser{
	border-radius: 4px;
	border: none;
	background: #605f5f;
	outline: none;
	padding: 3px 6px;
}
form .fieldChooser{
	cursor: pointer;
}
form .fieldChooser:hover{
	background: #B3B3B3;
}
form input[type=text]:focus, form input[type=number]:focus{
	background: #FFF;
}
form .row{
	margin-bottom: 15px;
}
form .row .comment{
	font-size: 11px;
	color: #d5d5d5;
}
form .row .comment .optional{
	color: #0195cc;
}
#ref{
	display: none;
}
.type-instructions h2{
	padding-left: 24px;
	font-size: 18px;
	background: url("img/collection.png") no-repeat 0px 4px;
}
.type-instructions.analysis h2{
	background: url("img/analysis.png") no-repeat 0px 4px;
}
.type-instructions.visualization h2{
	background: url("img/visualization.png") no-repeat 0px 4px;
}
.type-instructions .sub{
	cursor: pointer;
	padding-left: 15px;
	margin-left: 10px;
	background: url("img/arrow.png") no-repeat 0px 4px;
}
.type-instructions .sub .sub{
	margin-bottom: 10px;
}
.ruler, #topbar{
	border-top: 1px #4c4c4c solid;
	margin: 15px 0px;
}

.type-instructions .button{
	margin-right: 10px;
	margin-top: 10px;
}
.type-instructions .functions .button{
	background: #21A814;
}
.type-instructions .functions .button:hover{
	background: #80FA75;
}
#topbar{
	display: none;
	position: relative;
	margin-bottom: 30px;
}
#topbar .item{
	position: absolute;
	top: -6px;
	font-size: 11px;
	color: #4c4c4c;
}
#topbar .item.active{
	color: #FFF;
}
#topbar .item.active .circle{
	background-color: #FFF;
}
#topbar .item span{
	position: relative;
	left: -37%;
}
#topbar .c{
	left: 27px;
}
#topbar .a{
	left: 160px;
}
#topbar .v{
	left: 288px;
}
#topbar .circle{
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background: #4c4c4c;
}

#sidebar p{
	font-size: 12px;
	margin: 1em 0;
}
#sidebar nav a{
	display: inline-block;
	height: 17px;
	padding-left: 5px;
	font-size: 14px;
	padding-top: 3px;
	padding-right: 5px;
}


#settings nav a:hover{
	background-color: #5ecff9;
}
#sidebar nav a.inactive{
	background-color: #8A8A8A;
	color: #ddd;
	cursor: default;
}
#sidebar #settings-btn{
	padding-left: 28px;
	background: url("img/settings.png") no-repeat 5px center #0195cc;
}
#sidebar #refresh-btn{
	display: inline-block;
	background: url("img/refresh.png") no-repeat 5px center #0195cc;
	padding-left: 28px;
}

.formatSelect {
	list-style-type: none;
}

.formatSelect li {
	margin: 2.5px;
}

.formatSelect label:hover, .formatSelect input:hover {
	cursor: pointer;
}

#workspace{
	margin-left: 400px;
}
#wrapper{
	float: left;
	width: 100%;
}
#footer{
	clear: left;
}
#workspace .results{
	max-width: 560px;
	float: left;
	border-radius: 4px;
	background: #FFF;
	margin: 10px;
}
#workspace .results .button{
	margin: 10px;
	display: inline-block;
}
#workspace .results h4{
	padding: 10px;
}
#workspace .results table{
	padding: 10px;
}
#workspace .results table td, #workspace .results table th{
	text-align: left;
	font-size: 14px;
	padding: 3px;
}
#workspace .results > .bar{
	background: #bdc3c7;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding: 10px;
}
#workspace #intro{
	width: 80%;
	margin-top: 5%;
	margin-left: 5%;
	background: #FFF;
	padding: 5%;
}
.button.menu{
	width: 30px;
	height: 30px;
	display: inline-block;
	padding: 0px;
	margin: 0px;
	text-indent: -9999px;
	overflow: hidden;
	background: url("img/menu.png") no-repeat center center #dce0e3;
}
.button.menu:hover{
	background-color: #FFF;
}

.mod .chosen{
	color: #0195cc;
}
.fn .chosen{
	color: #21A814;
}

#forms .function{
	display: none;
}
#topbar .item{
	cursor: pointer;
}


#loader{
	position: fixed;
	left: 0px;
	bottom: 0px;
	width: 100%;
	height: 4px;
	display: block;
	background: #FFF;
	z-index: 100;
	text-align: center;
}
#loader #fill{
	z-index: 101;
	margin: 0px auto;
	width: 10px;
	height: 100%;
	background: #00aeef;
}

#overlay{
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	z-index: 10;
	top: 0px;
	left: 0px;
	display: none;
	background: rgba(0,0,0,.9);
}
#overlay h2{
	position: relative;
	left: 10px;
}
#overlay table{
	margin-top: 10px;
}
#overlay .close{
	position: absolute;
	right: 20px;
	color: #0195cc;
}

#overlay tr:nth-child(even) td{
	background: rgba(100,100,100,.7);
}
#overlay td, #overlay th{
	text-align: left;
	padding: 3px;
	font-size: 12px;
}
#overlay th{
	font-size: 14px;
}
#overlay *{
	color: #FFF;
}
#overlay th.a{
	color: #F00;
}

#last-modified{
	position: fixed;
	left: 10px;
	bottom: 5px;
	color: #FFF;
	font-size: 12px;
}
.field.option:hover{
	background: #FCFFB0;
}
.field.option{
	background-color: #FAFF5E;
	padding: 2px;
	border-radius: 4px;
	cursor: pointer;
}

#feedback{
	border-radius: 4px;
	font-size: 18px;
	padding: 5px 10px;
	margin-bottom: 5px;
	background: #999999;
	display: none;
}
#feedback p{
	font-size: 14px;
	margin: 0px;
	padding: 4px 0px 0px 0px;
}

.group::before, .group::after {
	content: "";
	display: table;
}
.group::after {
	clear:both;
}

#feedback.err{
	background: #ED5151
}

#feedback.suc{
	background: #4FB52A;
}

#feedback-text{
	float: left;
}
#confirm-btn{
	text-align: center;
	width: 40px;
	float: right;
}
.screen{
	display: none;
}


.bar > h2 {
	display: inline-block;
}

#import-data{
	padding: 5px 12px;
}
#log-in {
	float: right;
}
.login-btns {
	border: 0;
	margin-top: 5px;
	background: #0195cc;
	border-radius: 4px;
	color: #FFF;
	cursor: pointer;
	width: 60px;
	font-size: 15px;
	padding: 4px 8px;
}

.sub-link {
	font-size: 0.75em;
	margin-bottom: -5px;
}

.sub-link, .sub-link:visited {
	color: #0195cc;
}

.sub-link:hover {
	color: #fff;
}

.login-btns:hover, #import-data:hover{
	background-color: #5ecff9;	
}

.login-field {
	border-radius: 4px;
	height: 20px;
	margin: 0 5px 0 0;
	color: #000;
}

#password {
	margin-left: 8px;
}

#fileupload-btn{
	border: 0;
	margin-top: 5px;
	background: #0195cc;
	border-radius: 4px;
	color: #FFF;
	cursor: pointer;
	width: 75px;
	height: 25px;
}

#fileupload-btn:hover{
	background-color: #5ecff9;
}

#fileupload{
    display: block;
    visibility: hidden;
    width: 0;
    height: 0;
}

#workspace .results .close {
	margin: 0;
	float: right;
	display: inline-block;
}

#remove-btn {
	float:right;
}

.screen.data .data-buttons{
	display: none;
}
#data-list {
	list-style: none;
}
#data-list li {
	margin: 5px 5px 5px 0;
	padding-right: 0px;
}
#data-list li{
	font-size: 14px;
	color: #00aeef;
	margin: 5px 0px;
	padding: 2px 5px;
	cursor: pointer;
}
#data-list li.selected{
	background: rgba(255,255,255,.1);
}

.form_grid .row {
	margin-bottom: 5px;
}
.form_grid .row label{
	width: 120px;
	display: inline-block;
}
.circle-btn{
    width: 100px;

    color: rgba(0, 0, 0, 0.55);
    text-align: center;
    font-family: "Alegreya Sans", "Helvetica", "Arial", "sans-serif";
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
    line-height: 100px;

    background: -webkit-linear-gradient(top, #00BAFF, #112D38);
    background: -moz-linear-gradient(top, #00BAFF, #112D38);
    background: -o-linear-gradient(top, #00BAFF, #112D38);
    background: -ms-linear-gradient(top, #00BAFF, #112D38);
    background: linear-gradient(top, #00BAFF, #112D38);

    -webkit-border-radius: 100px;
    -khtml-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;

    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);

    display:inline-block;
    margin-right:7px;
}

.circle-btn:hover{
    -webkit-filter: brightness(0.75);
}
#gettingStarted{
    padding-bottom: 10px;
}
#interfaceResults{
    align-items: center;
}
#getSuggestions{
    font-size: 14px;
    padding: 10px 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    display: inline-block;
}
#interfaceNext,#interfaceReset,#changeSrc,#changeAnalysis{
    font-size: 12px;
    padding: 5px 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    display: inline-block;
}
#interfaceInput{
    height: 23px;
    width: 120px;
}
#interfaceNext1{
    margin-top: 15px;
    font-size: 12px;
    padding: 5px 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 0px;
}
#interfaceNext2,#interfaceDone{
    position: absolute;
    margin-top: 15px;
    right: 100px;
    font-size: 12px;
    padding: 5px 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 0px;
}
#BeatsResults{
    font-size: 20px;
    background-color: #d7d7d7;
    width: 370px;
    height: 200;
    padding: 15px;
    margin: 15px;
    border: 1px;
}
#interfaceBack{
    margin-top: 20px;
    font-size: 12px;
    padding: 5px 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}
#smallerText{
    padding-bottom: 10px;
    color: #6d6d6d;
}
div#interfaceExecute{
    margin: auto;
}
#interfaceExecuteBtn{
    font-size: 18px;
    margin-bottom: 5px;
}
.interfaceEdit{
    background: #0195cc;
    color: #FFF;
    font-size: 10px;
    padding: 4px 8px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    margin: 3px;
}