body{
	background-color:#eff4f7;
}
#twitter-widget-0 {
	height:440px;
}
nav {
	float:right;
	margin-right:20px;
	margin-top:30px;
}

nav li {
	display:inline;
	margin-left:30px;
}

nav a {
	font-size:14px;
	text-decoration:none;
	color:#000;
}

a:hover{
	color:#1c7dc0;
}

nav a:hover{
	color:#1c7dc0;
}

footer {
	clear:both;
	border-top:1px solid #999;
}

#tfheader{
	background-color:#eff4f7;
}

#tfnewsearch{
	float:right;
	padding:20px;
}

.tftextinput3{
	margin: 0;
	padding: 5px 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#666;
	border:1px solid #0076a3;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;		
}

.tfclear{
	clear:both;
}

.login {
  position: relative;
  margin: 0 auto;
  padding: 0px 0 20px 20px;
  width: 310px;
  background: #eff4f7;
  border-radius: 3px;
  @include box-shadow(0 0 200px rgba(white, .5), 0 1px 2px rgba(black, .3));

  &:before {
    content: '';
    position: absolute;
    top: -8px; right: -8px; bottom: -8px; left: -8px;
    z-index: -1;
    background: rgba(black, .08);
    border-radius: 4px;
  }

  h3 {
    margin: -20px -20px 21px;
    line-height: 40px;
    font-size: 15px;
    font-weight: bold;
    color: #555;
    text-align: center;
    text-shadow: 0 1px white;
    background: #f3f3f3;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 3px 3px 0 0;
    @include linear-gradient(top, whiteffd, #eef2f5);
    @include box-shadow(0 1px #f5f5f5);
  }

  p { margin: 20px 0 0; }
  p:first-child { margin-top: 0; }

  input[type=text], input[type=password] { width: 278px; }

  p.remember_me {
    float: left;
    line-height: 31px;

    label {
      font-size: 12px;
      color: #777;
      cursor: pointer;
    }

    input {
      position: relative;
      bottom: 1px;
      margin-right: 4px;
      vertical-align: middle;
    }
  }

  p.submit { text-align: right; }
}

.login-help {
  margin: 20px 0;
  font-size: 11px;
  color: white;
  text-align: center;
  text-shadow: 0 1px #2a85a1;

  a {
    color: #cce7fa;
    text-decoration: none;

    &:hover { text-decoration: underline; }
  }
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px; // Can we get this on WebKit please?
  @include box-shadow(inset 0 1px 3px rgba(black, .12));

  &:focus {
    border-color: #7dc9e2;
    outline-color: #dceefc;
    outline-offset: 0; // WebKit sets this to -1 by default
  }
}

input[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 4px;
  outline: 0;
  @include box-sizing(content-box); // Firefox sets this to border-box by default
  @include linear-gradient(top, #edf5f8, #cde5ef);
  @include box-shadow(inset 0 1px white, 0 1px 2px rgba(black, .15));

  &:active {
    background: #cde5ef;
    border-color: #9eb9c2 #b3c0c8 #b4ccce;
    @include box-shadow(inset 0 0 3px rgba(black, .2));
  }
}

.lt-ie9 {
  input[type=text], input[type=password] { line-height: 34px; }
}

.container {
  margin: 80px auto;
  width: 300px;
  text-align: center;

  > .social-button { margin: 0 10px; }
}

.social-button {
  display: inline-block;
  padding: 6px 10px 7px 8px;
  line-height: 16px;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 3px;

  &:before {
    content: '';
    display: inline-block;
    vertical-align: top;
    margin-right: 7px;
    width: 16px;
    height: 16px;
    background-image: url('../img/icons.png');

    @include hidpi {
      background-image: url('../img/icons@2x.png');
      background-size: 48px 16px;
    }
  }
}

.social-button-tw {
  color: #555;
  text-shadow: 0 1px rgba(white, .7);
  background: #f2f2f2;
  border-color: #bababa #b6b6b6 #a5a5a5;
  @include linear-gradient(top, white, #dedede);
  @include box-shadow(inset 0 0 0 1px rgba(white, .4),
                      0 1px 1px rgba(black, .06));

  &:before { background-position: 0 0; }

  &:active {
    background: #dedede;
    border-color: #b4b4b4 #b4b4b4 #a5a5a5;
    @include linear-gradient(top, #e1e1e1, #f8f8f8);
  }
}

.social-button-fb {
  color: #304982;
  text-shadow: 0 1px rgba(white, .6);
  background: #eaedf6;
  border-color: #aeb7cc #aeb7cc #9ba3b6;
  @include linear-gradient(top, #f3f6ff, #d9dce5);
  @include box-shadow(inset 0 1px white,
                      inset 0 0 0 1px rgba(white, .4),
                      0 1px 1px rgba(black, .06));

  &:before { background-position: -16px 0; }

  &:active {
    background: #d9dce5;
    border-color: #a6afc3 #a6afc3 #9ba3b6;
    @include linear-gradient(top, #d9dce5, #f0f3fc);
    @include box-shadow(inset 0 0 0 1px rgba(white, .4),
                        0 1px 1px rgba(black, .06));
  }
}

.social-button-rss {
  color: white;
  text-shadow: 0 -1px rgba(black, .2);
  background: #f29b47;
  border-color: #e38a45 #d87d46 #ca7043;
  @include linear-gradient(top, #feb16f, #ed9135);
  @include box-shadow(inset 0 0 0 1px rgba(white, .2),
                      0 1px 1px rgba(black, .06));

  &:before { background-position: -32px 0; }

  &:active {
    background: #ed9135;
    border-color: #d87d46;
    @include linear-gradient(top, #f19336, #feb16f);
  }
}
	
#top-region {
	border-top:1px solid #ededed;
	border-bottom:1px solid #ededed;
	font-size:12px;
	margin-bottom:10px;
	
}

.breadcrumb {
	padding: 10px 0 px 10px;
	margin:0px;
	list-style:none;
}

.breadcrumb a {
	text-decoration:none;
	color:black;
}

.breadcrumb a:hover{
	color:#1c7dc0;
}

.grid_3 li {
	display:inline;
	list-style:none;
	margin-right:10px;
}

.grid_3 ul {
	padding-left:0px;
}

#border {
	border-bottom:1px solid #ededed;
}