*{
	margin: 0px;
	padding: 0px;
}
body{
	background: #e5e6db;
}
#container{
	width: 800px;
	margin: 10px auto;
	background: #FFF;
	padding: 20px;
}
ul{
	padding-left: 1.5em;
	margin: 1em 0;
}
h2{
	margin-top: 20px;
}
h1,h2,h3,h4,h5,h6,ul{
	font-family: "Alegreya Sans";
}
h2{
	background: #000000;
	color: #FFF;
	padding: 10px;
}
hgroup h2{
	background: transparent;
	color: #000;
	padding: 0px;
	font-size:18px;
	margin: 0px;
}
p{
	margin: 1em 0;
}

nav ul{
	padding-left: 0px;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 10px;
	
}
nav ul li a{
	color: #FFF;
	text-decoration: none;
	background: #00aeef;
	border-radius: 4px;
	padding: 3px 6px;
}
nav ul li a.active, nav ul li a:hover{
	background: #5ecff9;
}

  ul li{
    margin-bottom: .5em;
  }