<script src="static/js/external/jquery.js"></script>
<script src="static/js/external/d3.js"></script>
<script src="static/js/external/download.js"></script>


<script src="static/js/custom/translation.js"></script>
<script src="static/js/custom/visualization.js"></script>
<script src="static/js/custom/UI.js"></script>
<script src="static/js/custom/UTIL.js"></script>


<script src="static/js/custom/Screen.js"></script>
<script src="static/js/custom/MainScreen.js"></script>
<script src="static/js/custom/RegisterScreen.js"></script>
<script src="static/js/custom/LoginScreen.js"></script>
<script src="static/js/custom/LogoutScreen.js"></script>
<script src="static/js/custom/DataScreen.js"></script>