<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SOCRATES</title>
    <meta name="description" content="">
    <meta name="author" content="Kevin Albertson">
    <link href='http://fonts.googleapis.com/css?family=Alegreya+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="/static/css/base-style.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/advanced-interface.css" type="text/css" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

<div id="loader"><div id="fill"></div></div>
<div id="overlay">
    <h2><span>Data View</span> <a href="#" class="close">Close</a></h2>
    <div class="content">
        <table></table>
    </div>
</div>
<div id="container">
    <div id="wrapper">
        <a id="two" href="/two">Try out SOCRATES 2.0 &raquo;</a>
        <p id="last-modified"></p>
        <div id="workspace">
            <div id="intro">
                <h2>Getting Started</h2>
                <p>If this is your first time using SOCRATES explore the features by first collecting data.</p>
                <p>To learn more visit the <a href="http://peopleanalytics.org/socrates/" title="SOCRATES" target="_blank">SOCRATES website</a>.</p>
                <p>If you are interested in modifying SOCRATES for your own purposes, <a href="https://github.com/kevinAlbs/Socrates" target="_blank" title="View on GitHub">download it on GitHub</a> and see our <a href="http://peopleanalytics.org/socrates/docs/" target="_blank" title="View documentation">documentation</a>.</p>
                <p><b>Note:</b> If you would like to download your data from SOCRATES, you need to have pop-ups enabled</p>
            </div>
        </div>
    </div><!--/#wrapper -->
    <aside id="sidebar">
        <h1>Socrates</h1>
        <div class="inner">
            <div id="feedback" class="group err">
                <div id="feedback-text"></div>
                <button id="confirm-btn" class="button">Ok</button>
            </div>
            <nav>
                <a href="#" title="Home" id="home-btn" class="button">Home</a>
                <a href="#" title="Data" id="data-btn" class="inactive button">Your Datasets</a>
                <a href="#" title="Log out" id="account-btn" class="button">Log out</a>
                <a href="#" title="Refresh" id="refresh-btn" class="button">Reset</a>
                <!--<a href="#" title="Settings" id="settings-btn" class="button">Settings</a>-->
            </nav>
            <div class="ruler"></div>

            <div class="screen settings">
                <!--
                <div>
                  <h2>Export/Import Format</h2>
                  <ul class="formatSelect">
                    <li><input id="JSON"type="radio" name="format" value="JSON" checked="checked"> <label for="JSON">JSON</label></li>
                    <li><input id="XML" type="radio" name="format" value="XML"> <label for="XML">XML</label></li>
                    <li><input id="CSV" type="radio" name="format" value="CSV"> <label for="CSV">CSV</label></li>
                    <li><input id="TSV" type="radio" name="format" value="TSV"> <label for="TSV">TSV</label></li>
                  </ul>
                </div>
                -->
            </div>

            <div class="screen login">
                <h2>Log in</h2>
                <div class="form_grid">
                    <div class="row"><label>Username</label><input type="text" class="login-field" id="login-name"></div>
                    <div class="row"><label>Password</label><input type="password" class="login-field" id="login-password"></div>
                </div>
                <button class="login-btns" id="login-submit-btn">Log in</button> <br>
                <a href="#" class="sub-link" id="login-register-btn">Register</a>
            </div>

            <div class="screen logout">
                <h2>Logged in as <span class='username'></span></h2>
                <br/>
                <button class="button" id="logout-btn">Log out</button>
            </div>

            <div class="screen register">
                <h2>Register</h2>
                <div class="form_grid">
                    <div class="row"><label>Username</label><input type="text" class="login-field" id="register-name"></div>
                    <div class="row"><label>Password</label><input type="password" class="login-field" id="register-password"></div>
                </div>
                <button class="login-btns" id="register-btn">Sign up</button> <br>
                <a href="#" class="sub-link" id="register-back-btn">Back</a>
            </div>

            <div class="screen data">
                <h2>Saved Datasets</h2>
                <!-- <button id="remove-btn" class="button" onclick="removeData()">Delete</button> -->
                <!--//Taking out accounts for now, focusing on multiple data sets in one continuous session
                <button id="log-in" class="button" onclick="logScreen()">My Account</button>-->
                <ul id="data-list"></ul>
                <div class="data-buttons">
                    <button class="button" data-action="load">Load</button>
                    <button class="button" data-action="rename">Rename</button>
                    <button class="button" data-action="export">Export</button>&nbsp;&nbsp;
                    <button class="button red" data-action="remove">Remove</button>
                </div>
                <input id="fileupload" type="file" name="upfile">

                <div class="ruler"></div>
                <h3>Import Data</h3>
                <h4>Format</h4>
                <ul>
                    <form class="formatSelect">
                        <li><input id="json" type="radio" name="format" value="json"  checked="checked"> <label for="json">SOCRATES JSON</label></li>
                        <li><input id="csv" type="radio" name="format" value="csv"> <label for="csv">CSV</label></li>
                        <!--
                        <li><input id="xml" type="radio" name="format" value="xml"> <label for="xml">XML</label></li>
                        <li><input id="tsv" type="radio" name="format" value="tsv"> <label for="tsv">TSV</label></li>
                        -->
                    </form>
                </ul>
                <p><i>CSV</i> format should have the first line of all labels.<br/>
                    <i>SOCRATES JSON</i> format is the same format as what SOCRATES exports.</p>
                <button id="import-btn" class="button">Select File</button>
            </div>

            <div class="screen main">
                <div id="topbar">
                    <div class="active item c">
                        <div class="circle"></div>
                        <span>Collection</span>
                    </div>
                    <div class="item a">
                        <div class="circle"></div>
                        <span>Analysis</span>
                    </div>
                    <div class="item v">
                        <div class="circle"></div>
                        <span>Exploration</span>
                    </div>
                </div>
                <div id="next-buttons">
                    <p>Continue to work on</p>
                    <a href="#" class="button" data-type="a">Analysis</a> or <a href="#" class="button" data-type="v">Exploration</a>
                </div>
                <div class="type-instructions visualization">
                    <h2>Exploration</h2>
                    <div data-type="visualization" class="sub mod">
                        Choose a module <span class="chosen"></span>
                        <div class="sub fn">
                            Choose a function <span class="chosen"></span>
                        </div>
                    </div>
                    <div class="modules"></div><div class="functions"></div>
                </div>
                <div class="type-instructions analysis">
                    <h2>Analysis</h2>
                    <div data-type="analysis" class="sub mod">
                        Choose a module <span class="chosen"></span>
                        <div class="sub fn">
                            Choose a function <span class="chosen"></span>
                        </div>
                    </div>
                    <div class="modules"></div><div class="functions"></div>
                </div>
                <div class="type-instructions collection">
                    <h2>Collection</h2>
                    <div data-type="collection" class="sub mod">
                        Choose a module <span class="chosen"></span>
                        <div class="sub fn">
                            Choose a function <span class="chosen"></span>
                        </div>
                    </div>
                    <div class="modules"></div><div class="functions"></div>
                </div>
                <div class="ruler"></div>

                <div id="forms">
                </div>
            </div>

        </div><!--/.inner -->

    </aside>
    <footer id="footer"></footer>
</div><!--/#container -->

<script src="static/js/jquery.js"></script>
<script src="static/js/api.js"></script>
<script src="static/js/d3.js"></script>
<script src="static/js/isotope.js"></script>
<script src="static/js/translation.js"></script>
<script src="static/js/visualization.js"></script>
<script src="static/js/UI.js"></script>
<script src="static/js/UTIL.js"></script>
<script src="static/js/Screen.js"></script>
<script src="static/js/MainScreen.js"></script>
<script src="static/js/RegisterScreen.js"></script>
<script src="static/js/LoginScreen.js"></script>
<script src="static/js/LogoutScreen.js"></script>
<script src="static/js/SettingsScreen.js"></script>
<script src="static/js/DataScreen.js"></script>
<script>
    UI.init({
        "main" : MainScreen,
        "register" : RegisterScreen,
        "login" : LoginScreen,
        "logout" : LogoutScreen,
        "settings" : SettingsScreen,
        "data" : DataScreen
    });
    UI.switchScreen("main");

    {% if username and password %}
    if (!UI.isLoggedIn()) {
        // Attempt login.
        LoginScreen.logIn('{{username}}', '{{password}}');
    }
    {% endif %}

</script>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-42804042-11', 'peopleanalytics.org');
    ga('send', 'pageview');
</script>
</body>
</html>