<script async="" src="http://www.google-analytics.com/analytics.js"></script>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/d3.js"></script>
<script src="/static/js/isotope.js"></script>
<script src="/static/js/translation.js"></script>
<script src="/static/js/visualization.js"></script>
<script src="/static/js/api.js"></script>
<script src="/static/js/UI.js"></script>
<script src="/static/js/UTIL.js"></script>
<script src="/static/js/Screen.js"></script>
<script src="/static/js/MainScreen.js"></script>
<script src="/static/js/RegisterScreen.js"></script>
<script src="/static/js/LoginScreen.js"></script>
<script src="/static/js/LogoutScreen.js"></script>
<script src="/static/js/SettingsScreen.js"></script>
<script src="/static/js/DataScreen.js"></script>
<script src="/static/js/Interface.js"></script>